img{
    height: 1080px;
    width: 1920px;
}

.een{
    clip-path: polygon(51% 34%,73% 34%,73% 53%,51% 53%);
    margin-top: -1300px;
    margin-left: 150px;
    
}
.twee{
    clip-path: polygon(52% 34%,73% 34%,73% 45%,52% 45%);
    margin-top: -1050px;
    margin-right: 730px;
}